.hidden-data{
    display: none;
}
.ticket-librarian-container{
    .lb-add-ticket {
        margin-left: 5px;
    }
    .ticket-librarian-table{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        table{
            height: 100%;
            width: 90%;
            thead {

                tr{
                    text-align: center;
                    vertical-align: middle;
                }
            }
            .col-icon {
                width: 50px;
                text-align: center;
            }
        }
    }
    .modal-footer{
        button {
            height: 38px;
            width: 64px;
        }
    }
    #modalFine, #modalReturnTicket, #modalTicket, #modalReturnTicketm {
        .modal-dialog{
            width: 62%;
            max-width: unset;
        }
        .disable-item{
            -webkit-text-fill-color: rgb(0 0 0 / 55%);
        }
        .Mui-disabled {
            -webkit-text-fill-color: rgb(0 0 0 / 55%);
        }
        input[readonly] {
            -webkit-text-fill-color: rgb(0 0 0 / 55%);
        }
        .lbDatePicker{
            width: 340px;
            font-size: 12px;
            margin-top: 3px;
        }
        .ipDatePicker {
            height: 18px;
            width: 21px;
            border: 0;
            margin-top: 20px;
        }
        #form-slc-nguoimuon{
            .MuiOutlinedInput-notchedOutline{
                legend{
                    font-size: 12px;
                }
            }
        }
        .modal-footer{
            button {
                height: 38px;
                width: 64px;
            }
            #btn-update-publisher, #btn-add-publisher{
                width: 100px;
            }
        }
    }
    #modalAddFine{
        .modal-dialog{
            width: 15%;
            max-width: unset;
        }
        #btn-add-fine{
            width: 150px;
        }
    }
}